spring:
  application:
    name: Service-Registry

server:
  port: 8761

logging:
  level:
    com:
      example: DEBUG
    org:
      springframework: INFO

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false